body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.status-box {
    position: relative;
}

.status-icon {
    font-size: 100px;
    display: none;
    margin-bottom: 20px;
}

.checkmark {
    color: #4CAF50;
}

.cross {
    color: #f44336;
}

#status {
    font-size: 24px;
    margin: 0;
}
